* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #1e293b, #0f172a);
}

.profile-img {
    width: 160px;
    border-radius: 50%;
    border: 4px solid #38bdf8;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 3rem;
   color: #38bdf8;
}

.hero p {
    margin-top: 10px;
    font-size: 1.2rem;
    opacity: 0.8;
}

/* SECTIONS */
section {
    padding: 60px 20px;
    text-align: center;
}

.about {
    background-color: #1e293b;
}

.about p {
    max-width: 700px;
    margin: 20px auto;
    line-height: 1.6;
    opacity: 0.9;

}
/* ===== GRID ANIME - 4 PAR LIGNE ===== */
.anime-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes fixes */
    gap: 25px;
    margin-top: 50px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* ===== CARD ===== */
.card {
    background: #1e293b;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
}
.card a {
    display: block;
}
/* ===== IMAGE ===== */
.card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    display: block;
}
/* ===== TITRE ===== */
.card h3 {
    padding: 15px;
    font-size: 1rem;
}

/* ===== HOVER ===== */
.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(56, 189, 248, 0.3);
}


/* ===== RESPONSIVE ===== */
@media (max-width: 1000px) {
    .anime-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .anime-grid {
        grid-template-columns: 1fr;
    }
}

a {
    color: #38bdf8;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

/* ===== PETITES CARTES DANS ABOUT ===== */
.about-links {
    grid-template-columns: repeat(2, 200px);
    justify-content: center;
    margin-top: 30px;
}

.about-links .card img {
    height: 150px;
}